<footer>
    <div>
        <p>©2023 “Violet Eye” 
            <br>
        Все права защищены</p>
    </div>
    <div class="footer_right">
        <p> +7 (999) 999-99-99
            <br>
            VioletEye.cinema@gmail.com
        </p>
        <div>
            <i class="fa-brands fa-vk"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </div>
</footer>