<header>
    <div class="header_div">
        <a href="/"><img id="logo" src="../img/mainlogo1.svg" alt="logo"></a>
        <div>
            <ul class="menu">
                <li><a class="a_line" href="/">Главная</a></li>
                <li><a class="a_line" href="/films">Фильмы</a></li>
                <li><a class="a_line" href="/series">Сериалы</a></li>
                <li><a class="a_line" href="/cartoons">Мультфильмы</a></li>
            </ul>
        </div>
        <div class="search_and_profile">
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="profile_hov" class="profile open-popup">
                <i class="fa-solid fa-user"></i>
                <p>Войти</p>
            </div>
        </div>
        <div class="burger_menu" id="burger_menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
   
</header>

<div class="bg"> 
    <form class="form_phone">
        <div class="x_border">
            <i class="fa-solid fa-xmark close-popup"></i>
        </div>
        <img id="form_logo" src="../img/mainlogo1.svg" alt="logo">
        <p class="form_text_phone">Введите номер телефона
            чтобы войти или зарегистрироваться на VioletEye
        </p>
        <p id="wrong">Некорректно введён номер телефона</p>
        <input class="form_number"  maxlength="12" type="tel"   placeholder="+7 (___) ___ + __ + __">
        <br>
        <button id="form_button"><span id="form_button_span">Продолжить</span></button>
        <p class="form_text_continue">Нажимая «Продолжить», я принимаю условия Пользовательского соглашения ООО «Вайолет Ай»</p>
    </form>
    <form class="next_window"> 
        <div class="x_border">
            <i class="fa-solid fa-xmark close-popup"></i>
        </div>
        <img id="form_logo" src="../img/mainlogo1.svg" alt="logo">
        <p>Перейдите по ссылке отправленной по СМС
        на ваш номер телефона <span id="phone_number"></span></p>
        <p>Если нужна помощь, напишите нам на VioletEye.cinema@gmail.com</p>
    </form> 
</div>  