<%- include('components/head'); %>
<html>
    <body>
        <%- include('components/header'); %>
        <main>
           
            <%- include('components/show'); %>
  
            <%- include('components/footer'); %>
        </main>
       
    </body>
</html>