@font-face {
    font-family: Comfortaa;
    src: url(../fonts/comfortaa/Comfortaa-Regular.ttf);
} 
* {
    font-family: Comfortaa;
    margin: 0;
    padding: 0; 
    color: white;  
}
.purple {
    /* color: #671a97; */
    color: #680669;
    font-weight: bold;
}
a {
    text-decoration: none;
}
.a_line {
    display: inline-block;
    position: relative;
}
.a_line:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .25s cubic-bezier(.42, 0, .16, .96);
} 
.a_line:hover:before {
    transform: none;
    transform-origin: left center right;
}
main {
    margin-top: 100px;
}
html, body {
    overflow-x: hidden;
}
body {
    background-color: black;

}
ul {
    list-style-type: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 30em;
}
li {
    display: flex;
    justify-content: space-between;
}
header {
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 9999;

}
.header_div {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center ;
    margin: 0 auto;
    padding-top: 1.5%;
    font-size: 1.4em;
}
#logo {
    width: 13em;
    height: 2em;
   
}
.swiper2 {
    width: 108em;
    overflow: hidden;
}
.wrapper2 {
	position: relative;
	transition: left 500ms linear;
    margin-top: -1%;
}
.swiper_img {
    height: 310px;
    width: 100%;
    border-radius: 5%;
}
.slide_p {
    margin-top: 1.5%;
}
.swiper-wrapper {
    padding-top: 3%;
    padding-bottom: 2%;
}
.swiper_img:hover {
    transform: scale(1.04);
}
.slider1_img {
    width: 75%;
    border-radius: 5%; 
}
img {
    transition: transform 1s; 
}
.swiper-slide {
    text-align: center;
}
.slide1:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(1deg,  rgb(51, 8, 51) 50%, rgb(51, 8, 51) 50% );
    transform: translate3d(0px, 20px, 0) scale(0.9);
    filter: blur(100px);
    opacity: var(0.8);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.slide1:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
.swiper-button-next, .swiper-button-prev {
    opacity: 0.8;
    background-color: #ada8a8;
}
.sample-slider [class^="swiper-button-"]::after{
    font-size: 60px;
}
.sample-slider [class^="swiper-button-"]{
    width: 4em;
    height: 6em;
    border-radius: 10%;
    margin: 0 2em;
}
:root {
    --swiper-navigation-color:  white;
  }
.page {
    background-color: #11031a;
    width: 90%;
    height: 100%;
    margin: 2.5% auto 0;
    padding-top: 4%;
    border-radius: 3%;
    padding-bottom: 2%;

}
.block {
    background-color: #11031a;
    width: 90%;
    height: 100%;
    margin: 2.5% auto;
    padding-top: 4%;
    border-radius: 50px;
    padding-bottom: 2%;
}
.block_text {
    margin: -1% 0 2% 3%;
}
.block_text >h1 {
    margin-bottom: 1%;
}
.shows {
    flex-wrap: wrap;
    display: flex;
}
.show {
    text-align: center;
    width: 18em;
    margin: 0 auto 3em;
}
.show p{
    width: 200px;
    margin: 1% auto;
}
.show img {
    width: 15.5em;
    height: 21em;
    margin-bottom: 1%;
}
.info {
    background-color: #0A031C;
    border-radius: 50px;
    width: 90%;
    height: 32em;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    margin-bottom: 6%;
}
.info_text {
    margin: 0 auto;
    padding-top: 5%;
    width: 90%;
    display: flex;
}
.info_left { 
    width: 38%;
}
.info_left > h3 {
    font-size: 40px;
    margin-bottom: 3%;
}
.info_left > p {
    font-size: 25px;
    line-height:1.8em;
}
.info_right {
    display: flex;
    position: relative;
}
.info_right_img {
    width: 17%;
    height: 72%;
    position: absolute;
}
#info_img7 {
    z-index: 3;
    top: 13%;
    left: 48%;
}
#info_img8 {
    left: 63%;
    top: 5%;
    z-index: 2;
}
#info_img9 {
    z-index: 1;
    left: 75%;
    top: 20%;
}
.info:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top left, #ff4d6d 0%, #54e1ff 158% );
    transform: translate3d(0px, 0px, 0) scale(1.04);
    filter: blur(20px);
    opacity: var(0.65);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.info::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
.cover{
    width:90%;
    margin: 2% auto;
}
h4 {
    font-size: 2em;
    margin-left: 1%;
}
.buy {
    color: rgb(255, 68, 68);
}
.green {
    color: rgb(93, 192, 93);
}
.genre {
    color: rgb(184, 181, 181);
}
footer {
    display: flex;
    margin: 2% auto 1%;
    justify-content: space-between;
    width: 82%;
}
.footer_right {
    text-align: right;
}
.show_img {
    width: 23%;
    height: 25%;
    border-radius: 5px;
}
.show_main {
    width: 80%;
    background-color: #11031a;
    margin: 2.5% auto;
    padding: 3%;
    border-radius: 6%;
}
.show_main >h1 {
    font-size: 2.3em;
    margin-bottom: 1%;
}
.show_main > h2 {
    margin-top: 5%;
    font-size: 1.8em;
}
.show_video {
    width: 100%;
    height: 45em;
}
.description_of_show {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.description_of_show_text {
    width: 73%;
    text-align: justify;
    font-size: 1.5em;
    margin-top: 2%;
}
.show_main_desc {
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 1.5em;
    margin-bottom: 1.5%;
}
.take_subscribe {
    background: linear-gradient(153deg, rgba(94,0,148,1) 0%, rgb(155, 45, 65) 100%);
    border: none;
    font-size: 24px;
    width: 16em;
    height: 2.5em;
    border-radius: 0.7em;
    margin-bottom: 2%;
    margin-top: 2%;
    position: relative;
    z-index: 1;
    --border-width: 2px;
    cursor: pointer;
}
.take_subscribe:hover::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -99;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 49%, 42%),
      hsl(269, 64%, 37%),
      hsl(290, 82%, 37%),
      hsl(314, 53%, 39%),
      hsl(359, 99%, 31%) 
    );
    transform: scale(1);
    background-size: 260% 260%;
    background-position: 0 40%;
    transition-duration: 5ms;
    border-radius: calc(10 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
@keyframes rotate {
    to {
      --angle: 360deg;
    }
}
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
.take_subscribe:hover::before {
    opacity: 1;
} 
.wrapper {
	min-width: min(40rem, 100%);
}
.take_select {
    background-color: rgb(85, 84, 84);
    width: 10em;
    height: 2.5em;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
}
.none {
    display: none;
}
.see {
    display: block;
}
.bg  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.568);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
    z-index: 9999;
}

.bg.active {
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}
.form_phone {
    z-index: 9998;
    position: absolute;
    top: 50%;
    left: 55%;
    border-radius: 4%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #1d082b;
    width: 600px;
    padding: 25px;
    height: 400px;
    transition: 0.5s all;
    color: white;
    text-align: center;
}
.text-danger {
    color: red;
    font-size: 14px;
}
.next_window {
  z-index: 9998;
  position: absolute;
  top: 50%;
  left: 55%;
  border-radius: 4%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #1d082b;
  width: 600px;
  padding: 25px;
  height: 420px;
  text-align: center;
  transition: 0.5s all;
  color: white;
}
.next_window.active {
  transform: translate(-50%, -50%) scale(1); 
  transition: 0.5s all;
}
.form_phone.active { 
  transform: translate(-50%, -50%) scale(1); 
  transition: 0.5s all;
}
.x_border {
  float: right;
  text-align: center;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 1.8em;
  background-color: rgb(255, 255, 255);
}
.fa-xmark {
  cursor: pointer;
  color: black;
}
#form_logo {
  width: 15em;
  margin:5% 0 0 6% ;
}
.form_text_phone {
  margin: 3% auto 3%;
  width: 78%;
  font-size: larger;
  line-height: 1.4em;
}
.next_window > button, input {
    border-radius: 70px;
    margin-bottom: 2%;
    border: none;
}
.form_phone > button, input {
  border-radius: 70px;
  margin-bottom: 2%;
  border: none;
}
.form_button {
  width: 15em;
  height: 3em;
  margin-top: 1%;
  color: white;
  cursor: pointer;
  background-color: #7405A9;
}
#reg {
    text-decoration: underline;
}
.conditions {
    font-size: smaller;
    color: rgb(229, 229, 229);
    margin-top: 1%;
}
.form_button:hover {
    background-color: #9641bd;
    border: 3px solid white;
}
.form_inp {
  width: 24em;
  color: black;
  height: 1em;
  padding: 2.3%;
}
.form_text_continue {
  width: 83%;
  margin: 2% auto;

}

.grid_top {
    display: grid;
    align-items: center;
    position: relative;
    grid-template-columns: auto 28% 28%;
    width: 90%;
    column-gap: -10px;
    text-align: center;
    margin: 0 auto 5%;
    background-color: #1a1529;
    padding-top: 2%;
    -webkit-box-shadow:0px 0px 87px 25px rgba(211,240,239,0.14);
    -moz-box-shadow: 0px 0px 87px 25px rgba(211,240,239,0.14);
    box-shadow: 0px 0px 87px 25px rgba(211,240,239,0.15);
    padding-bottom: 2%;
    border-radius: 30px;
    z-index: 2;
    font-size: 16px;
    grid-template-areas: "f i b"
                         "f i b"
                         "f o n"
                         "f o n";
}
.grid_child { 
    position: relative;
    border-radius: 10px;
    text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.grid_child p {
    position: absolute;
    font-family: 'Rubik One', sans-serif;
    bottom: -55px;
    z-index: 1;
    right: 80px;
    background: linear-gradient(to right, #2f0494 0%, #7404a8 50%, #9e0303 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-size: 10em;
}
#g8 {
    width: 32em;
    height: 40.35em;
}
.lock_swip {
    display: none;
}
.grid_child img {
    width: 17em;
    margin:  0 auto;
    height: 18.5em;
    border-radius: 20px;
}
.grid_child:hover img {
    transform: scale(1.05);
}
#child8 {grid-area: f;}
#child9 {grid-area: i;}
#child10 {grid-area: b;}
#child11 {grid-area: o;}
#child12 {grid-area: n;}
#top {
    margin-left: 6%;
    margin-bottom: 3%;
    font-size: 3em;
    background: -webkit-linear-gradient(165deg, rgba(255, 21, 21, 0.75) 80%, #6068ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fixed {
    overflow:hidden;
}
.burger_menu {
    width: 0;
}
.take_select > option {
    font-size:small;
}


/* профиль хэдер*/
.profile_menu.active {
    line-height: 1.5; /* Когда меню активно, высота строк изменяется */
    opacity: 1; /* Сделать меню видимым */
    visibility: visible; /* Сделать меню видимым */
    
}
.profile_menu:not(.active) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s, line-height 0.4s; /* Сделать меню невидимым после исчезновения */
}
.window_profile.active {
    /* background-color: #11031a; */
    background-color: #4b044d;
    
}
.window_profile {
    padding: 5%;
    border-radius: 5px;
}
.profile {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    align-items: center;
    width: 6em;
}
.profile_avatar {
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
}
.profile_menu {
    position: absolute; /* Сделать меню абсолютным для выхода за пределы контейнера */
    display: block;
    margin-block-start: 0.5lh;
    background-color: #4b044d;
    line-height: 0;
    font-size: large;
    border-radius: 5px;
    transition: line-height 1s, visibility 1s, opacity 1s ease;
    opacity: 0; /* Скрыть меню по умолчанию */
    visibility: hidden; /* Также скрываем меню */
    top: 85%; /* Помещаем меню под элемент профиля */
}
.menu-item {
    display: flex; /* Применяем Flexbox к элементам меню */
    align-items: center; /* Центрируем элементы по вертикали */
    height: 2em;
}
.menu-item > a {
    display: flex; /* Для того, чтобы <i> и <span> располагались в строку */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-around; /* Элементы выравниваются по левому краю */
    width: 85%;
    margin: 0 auto;
}
.menu-item:hover,
.menu-item:focus-visible {
    background-color: #660468;
    border-radius: 5px;
}
/* профиль */
.profile_block >h2 {
    text-align: center;
    margin-bottom: 5%;
}
.profile_block {
    width: 80%;
    background-color: #11031a;
    margin: 2.5% auto;
    padding: 5%;
    border-radius: 30px;
    font-size: large;
}
.profile_block_main {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
}

.profile_circle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin-bottom: 8%;

}
.prof_avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.settings_inp {
    height: 2em;
    padding: 2%;
    border-radius: 10px;
    color: black;
    margin-top: 2%;
    
}
.profile_submit {
    width: 110%;
    height: 3em;
    color: white;
    margin-top: 8%;
    background-color: #660468;
}

.settings_div {
    margin-top: 8%;
}
.settings_a {
    color: #a37bb6;
}
.profile_circle > i {
    font-size: 3em;
}
#comeback {
    margin-left: 15%;
    margin-bottom: 10%;
}
.circle {
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.circle > i {
    font-size: 3em;
}
/* комментарии */
.com_text {
    width: 45em;
    color: black;
    height: 80px;
    padding: 2%;
    border-radius: 20px;
}
.com {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 48%;
    align-items: center;
}
/* .com_form {
        width: 45em;
} */
.com_inp {
    width: 100%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
}
.com_inp > input{
    background-color:#11031a;
}
.comment_body {
    display: flex;
    gap: 3em;
}
.comment_info {
    height: 100px;
}
.commnt_info > p {
    margin-top: 5%;
    flex-wrap: wrap;
    word-break: normal;
}
.comments {
    height: 100%;
    margin-bottom: 3%;
}
.comment {
    width: 50%;
    margin-top: 5%;
}
.com_buttons > button {
    padding: 2%;
    height: 50px;
    background-color: #3e0a60;
    border-radius: 20px ;
    border: none;
}
.com_buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.admin_main {
    width: 80%;
    background-color: #11031a;
    margin: 2.5% auto;
    padding: 3%;
    border-radius: 6%;
    text-align: center;

}
.admin_table {
    margin: 0 auto;
}
.comment_table {
    margin: 0 auto;
    text-align: center;  
}
.td_comment {
    width: 50px;
    text-overflow: ellipsis;
}
.admin_button {
    background-color: #2f0494;
}
@media (min-width: 1850px) and (max-width: 1900px) { 

    .grid_child p {
        right: 60px;
        font-size: 9em;
    }
    .grid_child img {
        width: 16.5em;
        height: 18em;
    }
    #g8 {
        width: 30em;
        height: 40.35em;
    }
    .swiper2 {
        width: 97em;
    }
    .swiper_img {
        height: 280px;
    }
    .header_div {
        font-size: 1.2em;
    }
    .info_left > h3 {
        font-size: 36px;
    }
    .info_left > p {
        font-size: 24px;
    }
    .show img {
        width: 15em;
        height: 20em;
    }
    .show_main >h1 {
        font-size: 1.8em;
    }
    .show_main > h2 {
        font-size: 1.5em;
    }
    .description_of_show_text {
        font-size: 1.3em;
    }
}
/* для телефона */
@media (min-width: 390px) and (max-width: 455px) { 
    .burger_menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    .burger_menu span {
        width: 30px;
        height: 2.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        transition: all 0.5s;
    }
    .burger_menu span:nth-of-type(2) {
        top: calc(50% - 7px);
    }
    .burger_menu span:nth-of-type(3) {
        top: calc(50% + 7px);
    }
    #logo {
        position: relative;
        display: block;
        padding: 15px;
        z-index: 10;
        width: 9em;
        height: 1.5em;
    }
    .menu {
        position: fixed;
        display: block;
        top: 65px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #11031a;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }
    .menu li {
        margin: 50px 0px 20px 20px;
    }
    .menu.active {
        transform: translateX(0);
    }
    .burger_menu.active span:nth-of-type(1) {
        display: none;
      }
      .burger_menu.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .burger_menu.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    } 
    
    .slider1_img {
        width: 65%;
    }
    .header_div {
        width: 90%;
        font-size:large;
    }
    .dropdown_profile {
        width: 9em;
    }
    .profile_menu {
        font-size: medium;
    }
    .profile > p {
        max-width: 6em; 
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;/* Ограничиваем ширину контейнера для мобильных устройств */
    }
    .search_and_profile {
        justify-content: center;
    }
    main {
        margin-top: 70px;
    }
    header {
        height: 70px;
    }
    .page {
        border-radius: 30px;
    }
    .info {
        width: 88%;
        height: 36em;
        margin-top: 5%;
    }
    .info:before {
        opacity: var(0.45);
        transform: scale(1.02);
    }
    .info_text {
        display: block;
        padding: 10% 0 0 5%;
    }
    .info_left {
        width: 100%;
    }
    .info_left > h3 {
        font-size: 23px;
    }
    .info_left > p {
        font-size: 18px;
    }
    .take_subscribe {
        width: 12.5em;
        font-size: 18px;
    }
    .info_right_img {
        width: 42%;
        height: 34%;
    }
    #info_img7 {
        top: 52%;
        left: 6%;
    }
    #info_img8 {
        left: 30%;
        top: 57%;
    }
    #info_img9 {
        left: 48%;
        top: 61%;
    }
    .swiper2 {
        width: 21.5em;
    }
    h4 {
        font-size: 1.5em;
    }
    #top {
        font-size: 2.5em;
    }
    .swiper_img {
        height: 200px;
        width: 150px;
    }
    .swiper-wrapper {
        padding-top: 6%;
    }
    .cover{ 
        margin-top: 10%;
    }
    #top {
        margin-top: 5%;
    }
    #g8 {
        width: 16em;
        height: 20.35em;
    }
    .grid_child img {
        width: 16em;
        margin-top: 9%;
        height: 20.35em;
    }
    .grid_top {
        grid-template-areas: "f f f"
                             "i i i"
                             "b b b"
                             "o o o"
                             "n n n";
        padding-bottom: 10%;
    }
    .grid_child p {
        right: 25px;
        bottom: -45px;
        font-size: 7em;
    }
    .slide_p {
        font-size: smaller;
    }
    footer {
        font-size: 10px;
        line-height: 15px;
        margin-top: 5%;
    }
    .x_border {
        width: 30px;
        height: 30px;
        font-size: 1.5em;
      }
      .fa-xmark {
        margin-top: 0.1em
      }
    .form_phone {
        width: 300px;
        height: 380px;
        left: 50%;
    }
    .next_window {
        width: 300px;
        height: 360px;
        left: 50%;
    }
    #form_logo {
        width: 15em;
        margin-top: 12%;
    }
    .form_inp {
        width: 16em;
        padding: 2.5%;
    }
    .form_phone > button, input  {
        margin-bottom: 5%;
    }
    .form_button {
        margin-top: 3%;
    }
    .form_text_phone {
        width: 90%;
        font-size: medium;
    }
    .block_text >h1 {
        font-size: 1.6em;
    }
    #form_button {
        margin-left: 8%;
    }
    .form_number {
        margin-left: 8%;
    }
    .text-danger {
        font-size: smaller;
    }
    .form_text_continue {
        font-size: smaller;
        width: 90%;
    }
    .show_main {
        border-radius: 30px;
        padding: 6%;
    }
    .show_main >h1 {
        font-size: 1.3em;
        margin-bottom: 3%;
    }
    .show_main_desc {
        width: 100%;
        line-height: 1.4em;
        flex-wrap: wrap;
        font-size: 1.1em;
        margin-bottom: 2.5%;
    }
    .show_video {
        height: 11em;
    }
    .show_main > h2 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.2em;
    }
    .description_of_show {
        display: block;
        text-align: center;
    }
    .show_img {
        width: 85%;
        height: 85%;
    }
    .description_of_show_text {
        font-size: 1em;
        width: 85%;
        margin: 4% auto;
    }
    .block_text {
        margin: 1% 0 6% 10%;
    }
    .next_window > p{
        font-size: medium;
    }
    .take_select {
        margin-top: 2%;
        font-size: medium;
    }
    
}
@media (min-width: 456px) and (max-width: 550px) { 
    .burger_menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    .burger_menu span {
        width: 30px;
        height: 2.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        transition: all 0.5s;
    }
    .burger_menu span:nth-of-type(2) {
        top: calc(50% - 7px);
    }
    .burger_menu span:nth-of-type(3) {
        top: calc(50% + 7px);
    }
    #logo {
        position: relative;
        display: block;
        padding: 15px;
        z-index: 10;
        width: 9em;
        height: 1.5em;
    }
    .menu {
        position: fixed;
        display: block;
        top: 65px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #11031a;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }
    .menu li {
        margin: 50px 0px 20px 20px;
    }
    .menu.active {
        transform: translateX(0);
    }
    .burger_menu.active span:nth-of-type(1) {
        display: none;
      }
      .burger_menu.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .burger_menu.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    } 
    
    .slider1_img {
        width: 70%;
    }
    .header_div {
        width: 90%;
        font-size:large;
    }
    .dropdown_profile {
        width: 12em;
    }
    .profile_menu {
        font-size: medium;
    }
    main {
        margin-top: 70px;
    }
    header {
        height: 70px;
    }
    .page {
        border-radius: 30px;
    }
    .info {
        width: 88%;
        height: 40em;
        margin-top: 5%;
    
    }
    .info:before {
        opacity: var(0.45);
        transform: scale(1.02);
    }
    .info_text {
        display: block;
        padding: 10% 0 0 5%;
    }
    .info_left {
        width: 100%;
    }
    .info_left > h3 {
        font-size: 25px;
    }
    .info_left > p {
        font-size: 20px;
    }
    .take_subscribe {
        width: 14.5em;
        font-size: 20px;
    }
    .info_right_img {
        width: 37%;
        height: 36%;
    }
    #info_img7 {
        top: 52%;
        left: 8%;
    }
    #info_img8 {
        left: 33%;
        top: 55%;
    }
    #info_img9 {
        left: 53%;
        top: 59%;
    }
    .swiper2 {
        width: 26em;
    }
    h4 {
        font-size: 1.7em;
    }
    #top {
        font-size: 2.5em;
    }
    .swiper_img {
        height: 220px;
        width: 170px;
    }
    .swiper-wrapper {
        padding-top: 6%;
    }
    .cover{ 
        margin-top: 10%;
    }
    #top {
        margin-top: 8%;
    }
    #g8 {
        width: 18em;
        height: 23.35em;
    }
    .grid_child img {
        width: 18em;
        height: 23.35em;
        margin-top: 9%;
    }
    .grid_top {
        grid-template-areas: "f f f"
                             "i i i"
                             "b b b"
                             "o o o"
                             "n n n";
        padding-bottom: 15%;
    }
    .grid_child p {
        right: 42px;
        bottom: -45px;
        font-size: 7em;
    }
    .slide_p {
        font-size: medium;
        line-height: 1.2em;
    }
    footer {
        font-size: 12px;
        line-height: 15px;
        margin-top: 5%;
    }
    .x_border {
        width: 30px;
        height: 30px;
        font-size: 1.7em;
      }
      .fa-xmark {
        margin-top: 0.1em;
      }
    .form_phone {
        width: 320px;
        height: 340px;
    }
    .next_window {
        width: 320px;
        height: 240px;
    }
    .next_window >p {
        width: 85%;
      }
    #form_logo {
        width: 15em;
        margin-top: 6%;
        margin-left: 12%;
    }
    .form_text_phone {
        width: 92%;
        font-size: medium;
    }
    #form_button_span {
        font-weight: lighter;
    }
    .block_text >h1 {
        font-size: 1.6em;
    }
    #form_button {
        margin-left: 8%;
    }
    .form_number {
        margin-left: 8%;
    }
    #wrong {
        font-size: smaller;
    }
    .form_text_continue {
        font-size: smaller;
        width: 90%;
    }
    .show_main {
        border-radius: 30px;
        padding: 6%;
    }
    .show_main >h1 {
        font-size: 1.3em;
        margin-bottom: 3%;
    }
    .show_main_desc {
        width: 100%;
        line-height: 1.4em;
        flex-wrap: wrap;
        font-size: 1.1em;
        margin-bottom: 2.5%;
    }
    .show_video {
        height: 11em;
    }
    .show_main > h2 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.2em;
    }
    .description_of_show {
        display: block;
        text-align: center;
    }
    .show_img {
        width: 85%;
        height: 85%;
    }
    .description_of_show_text {
        font-size: 1em;
        width: 85%;
        margin: 4% auto;
    }
    .block_text {
        margin: 1% 0 6% 10%;
    }
    .next_window > p{
        font-size: medium;
    }
    .take_select {
        margin-top: 2%;
        font-size: medium;
    }
    
}
/* для айпада */
@media (min-width: 810px) and (max-width: 900px) { 
    .burger_menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    .burger_menu span {
        width: 30px;
        height: 2.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        transition: all 0.5s;
    }
    .burger_menu span:nth-of-type(2) {
        top: calc(50% - 7px);
    }
    .burger_menu span:nth-of-type(3) {
        top: calc(50% + 7px);
    }
    #logo {
        position: relative;
        display: block;
        padding: 15px;
        z-index: 10;
        transition: transform 0.5s;
        width: 9em;
        height: 1.5em;
    }
    .menu {
        position: fixed;
        display: block;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #11031a;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }
    .menu li {
        margin: 50px 0px 20px 20px;
    }
    .menu.active {
        transform: translateX(0);
    }
    .burger_menu.active span:nth-of-type(1) {
        display: none;
      }
      .burger_menu.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .burger_menu.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    } 
    .page {
        border-radius: 30px;
    }
    .info:before {
        opacity: var(0.45);
        transform: scale(1.02);
    }
    .info {
        width: 90%;
        height: 21em;
        margin-top: 1%;
    }
    .take_subscribe {
        width: 12.5em;
        font-size: 20px;
    }
    .info_left > h3 {
        font-size: 25px;
    }
    .info_left >p {
        font-size: 20px;
    }
    .info_left {
        width: 50%;
    }
    .info_right_img {
        width: 23%;
        height: 64%;
    }
    #info_img7 {
        top: 14%;
        left: 53%;
    }
    #info_img8 {
        left: 65%;
        top: 7%;
    }
    #info_img9 {
        left: 73%;
        top: 26%;
    }
    .swiper2 {
        width: 43em;
    }
    h4 {
        margin-bottom: 1%;
        font-size: 1.6em;
    }
    .block_text {
        margin-left: 7%;
    }
    .slider1_img {
        width: 80%;
        height: 485px;
    }
    .swiper_img {
        height: 300px;
    }
    .swiper-wrapper {
        padding-top: 2%;
    }
    #top {
        margin-top: 5%;
    }
     #g8 {
        width: 17.5em;
        height: 25.35em;
    }
    .grid_child img {
        width: 9.5em;
        height: 11.5em;
    } 
    .grid_top {
        padding: 3% 2% 3% 3%;
    }
    .grid_child p {
        bottom: -35px;
        right: -8px;
        font-size: 7em;
    }
    .show_main {
        border-radius: 30px;
    }
    .show_main_desc {
        width: 90%;
        font-size: 1.4em;
    }
    .description_of_show_text {
        font-size: 0.9em;
        width: 60%;
        margin-top: 1%;
    }
    .show_img {
        width: 36%;
        height: 40%;
    }
    .show_video {
        height: 25em;
    }
    main {
        margin-top: 80px;
    }
    header {
        height: 80px;
    }
    .show_main > h1 {
        font-size: 1.6em;
    }
    .show_main > h2 {
        font-size: 1.5em;
    }
    #form_logo {
        margin-left: 20%;
    }
    .form_number {
        margin-left: 17%;
        height: 1.5em;
    }
    #form_button{
        margin-left: 18%;
        height: 2.5em;
    }
    .form_phone {
        height: 290px;
        width: 400px;
    }
    .form_text_phone {
        margin-top: 3%;
        font-size: medium;
    }
    .form_text_continue {
        font-size: smaller;
    }
    .form_text_phone {
        margin-top: 3%;
        font-size: medium;
    }
    .form_text_continue {
        font-size: smaller;
    }
    .next_window {
        height: 200px;
        width: 400px;
    }
    .next_window > p {
        margin: 5% auto;
        font-size: medium;
    }
    .take_select {
        font-size: large;
    }
    .block_text >h1 {
        font-size: 1.8em;
    }
    footer {
        margin-top: 3%;
    }
}
@media (min-width: 980px) and (max-width: 1024px) {
    .slider1_img {
        width: 100%;
        height: 500px;
    }
    .swiper2 {
        width: 51.5em;
    }
    .swiper_img {
        height: 250px;
        width: 200px;
    }
    .swiper-wrapper {
        padding-top: 2%;
    }
    #logo {
        width: 9em;
        height: 1.5em;
    }
    header {
        height: 65px;
    }
    .header_div {
        width: 85%;
        font-size: 1.2em;
    }
    ul {
        width: 25em;
    }
    .search_and_profile {
        width: 5em;
    }
    .page {
        border-radius: 30px;
    }
    .info {
        width: 90%;
        height: 23.5em;
        margin-top: 1%;
    }
    .take_subscribe {
        width: 12.5em;
        font-size: 22px;
    }
    .info_left > h3 {
        font-size: 28px;
    }
    .info_left > p {
        font-size: 22px;
    }
    .info_left {
        width: 50%;
    }
    .info_right_img {
        width: 23%;
        height: 64%;
    }
    #info_img7 {
        top: 14%;
        left: 52%;
    }
    #info_img8 {
        left: 67%;
        top: 7%;
    }
    #info_img9 {
        left: 72%;
        top: 26%;
    }
    .cover{ 
        margin-top: 10%;
    }
     h4 {
        margin-bottom: 1%;
        font-size: 1.6em;
    }
    #top {
        margin-top: 5%;
    }
     #g8 {
        width: 21em;
        height: 32.35em;
    }
    .grid_child img {
        width: 12em;
        height: 14.5em;
    } 
    .grid_top {
        padding: 3% 2% 3% 3%;
    }
    .grid_child p {
        bottom: -40px;
        right: 0px;
        font-size: 7em;
    }
    .block_text > h1 {
        font-size: 1.8em;
    }
    .take_select {
        font-size: 1.1em
    }
    .show_main {
        border-radius: 30px;
    }
    .show_main_desc {
        width: 80%;
    }
    .description_of_show_text {
        font-size: 1.2em;
        width: 60%;
    }
    .show_main_desc {
        font-size: 1.3em;
    }
    .show_main > h1 {
        font-size: 1.6em;
    }
    .show_main > h2 {
        font-size: 1.5em;
    }
    .show_img {
        width: 36%;
        height: 40%;
    }
    .show_video {
        height: 25em;
    }
    #form_logo {
        margin-left: 20%;
    }
    .form_number {
        margin-left: 17%;
        height: 1.5em;
    }
    #form_button{
        margin-left: 18%;
        height: 2.5em;
    }
    .form_phone {
        height: 290px;
        width: 400px;
    }
    .form_text_phone {
        margin-top: 3%;
        font-size: medium;
    }
    .form_text_continue {
        font-size: smaller;
    }
    .next_window {
        height: 200px;
        width: 400px;
    }
    .next_window > p {
        margin: 5% auto;
        font-size: medium;
    }
}

@media (min-width: 1400px) and (max-width: 1600px){
    .slider1_img {
        width: 80%;
        height: 500px;
    }
    .sample-slider [class^="swiper-button-"] {
        width: 3em;
        height: 5em;
    }
    .swiper2 {
        width: 51.5em;
    }
    .swiper_img {
        height: 250px;
        width: 200px;
    }
    .swiper-wrapper {
        padding-top: 2%;
    }
    #logo {
        width: 9em;
        height: 1.5em;
    }
    header {
        height: 65px;
    }
    .header_div {
        width: 85%;
        font-size: 1.2em;
    }
    ul {
        width: 25em;
    }
    .search_and_profile {
        width: 5em;
    }
    .page {
        border-radius: 30px;
    }
    .info {
        width: 90%;
        height: 23.5em;
        margin-top: 1%;
    }
    .take_subscribe {
        width: 12.5em;
        font-size: 22px;
    }
    .info_left > h3 {
        font-size: 28px;
    }
    .info_left > p {
        font-size: 22px;
    }
    .info_left {
        width: 50%;
    }
    .info_right_img {
        width: 18%;
        height: 70%;
    }
    #info_img7 {
        top: 14%;
        left: 52%;
    }
    #info_img8 {
        left: 65%;
        top: 7%;
    }
    #info_img9 {
        left: 74%;
        top: 24%;
    }
    .cover{ 
        margin-top: 10%;
    }
     h4 {
        margin-bottom: 1%;
        font-size: 1.6em;
    }
    #top {
        margin-top: 5%;
    }
     #g8 {
        width: 25em;
        height: 32.35em;
    }
    .grid_child img {
        width: 12em;
        height: 14.5em;
    } 
    .grid_top {
        padding: 3% 2% 3% 3%;
    }
    .grid_child p {
        bottom: -40px;
        right: 0px;
        font-size: 7em;
    }
    .block_text > h1 {
        font-size: 1.8em;
    }
    .take_select {
        font-size: 1.1em
    }
    .show_main {
        border-radius: 30px;
    }
    .show_main_desc {
        width: 80%;
    }
    .description_of_show_text {
        font-size: 1.2em;
        width: 60%;
    }
    .show_main_desc {
        font-size: 1.3em;
    }
    .show_main > h1 {
        font-size: 1.6em;
    }
    .show_main > h2 {
        font-size: 1.5em;
    }
    .show_img {
        width: 36%;
        height: 40%;
    }
    .show_video {
        height: 25em;
    }
    #form_logo {
        margin-left: 20%;
    }
    .form_number {
        margin-left: 17%;
        height: 1.5em;
    }
    #form_button{
        margin-left: 18%;
        height: 2.5em;
    }
    .form_phone {
        height: 290px;
        width: 400px;
    }
    .form_text_phone {
        margin-top: 3%;
        font-size: medium;
    }
    .form_text_continue {
        font-size: smaller;
    }
    .next_window {
        height: 200px;
        width: 400px;
    }
    .next_window > p {
        margin: 5% auto;
        font-size: medium;
    }
}